* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main-container {
    min-height: 100vh;
}

/* footer  */
.footer {
    width: 100%;
    max-height: 100%;
    height: 100%;
    background-color: #304252;
    padding: 20px 40px;
    color: #fff;
    font-weight: 200;
}

.footer-links-title {
    color: #46D3A4;
    margin-bottom: 25px;
}

.footer-links-container a {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
    transition: all 0.2s ease;
}

.footer-links-container a:hover {
    color: #46D3A4;
    text-decoration: none;
    transition: all 0.2s ease;
}

.logo-section {
    padding: 30px 0 40px;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
}

.copyright-dt-section {
    font-size: 14px;
    display: none;
}

.copyright-mb-section {
    display: flex;
    justify-content: space-between;
}

.copyright-dt-section a {
    color: #fff;
    transition: all 0.2s ease;
}


@media screen and (min-width: 992px) {

    .copyright-dt-section {
        display: flex;
    }

    .copyright-mb-section {
        display: none;
    }

    .footer {
        height: 585px;
    }
}

.copyright-mb-link {
    color: #fff;
    font-size: 14px;
}

.copyright-mb-link:hover {
    color: #fff;
    text-decoration: none;

}

.copyright-link {
    display: inline-block;
    position: relative;
    text-decoration: none !important;
    padding: 0 5px;
}

.copyright-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #46D3A4;
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.copyright-link:hover:after {
    transform: scaleX(1);
}

.linkedin-icon {
    color: #fff;
    font-size: 20px;
    transition: all 0.2s ease-out;
}

.linkedin-icon:hover {
    color: #46D3A4;
    transition: all 0.2s ease-out;
}